.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 2rem
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}
.user{
    position: absolute;
    width: 100px;
    height: 15px;
    background-color: rgb(255, 153, 0);
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5rem;
    background-image: url('./OIP.jpg');
    background-size: contain;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {rotate: 360deg;} 
}